<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kenspeckle.price_comparison">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.kenspeckle.price_comparison.AddActivity" />
        <activity android:name="org.kenspeckle.price_comparison.ArtikelListActivity" />
        <activity android:name="org.kenspeckle.price_comparison.PreisListActivity" />
        <activity android:name="org.kenspeckle.price_comparison.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>